click==6.6
cycler==0.10.0
dask==0.13.0
decorator==4.0.10
Flask==0.12
gevent==1.2.0
greenlet==0.4.11
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8.1
MarkupSafe==0.23
matplotlib==1.5.3
networkx==1.11
numpy==1.11.3
olefile==0.44
Pillow==4.0.0
protobuf==3.1.0.post1
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
requests==2.12.4
scikit-image==0.12.3
scipy==0.18.1
six==1.10.0
tensorflow==2.3.1
tensorlayer==1.4.1
toolz==0.8.2
Werkzeug==0.11.15
wheel==0.29.0
